body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin: 0;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hd-container {
    min-height: 60%;
    background-size:cover;
    background-position: center;
    background-image: linear-gradient( 180deg, rgba(65,68,148,1) 0%, #4285f4 100% );
    box-shadow: inset 0 -8px 8px -8px black;
}

.title{
    color: white;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.furniture-grid {
    display: block;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
}

.excerpt{
    color: #fff;
    font-weight: 100;
    text-align: justify;
    margin-bottom: 2em;
}

.main-body{
    font-weight: 300;
}

.link-container {
    position: relative;
    top: -20px;
    font-size: 1em;
}

.link-container .horizontal-list {
    float: right;
}

.link-container a {
    text-decoration: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
}

/* narrow screen */
@media only screen and (max-width:400px) {
    .hide-narrow {
        display: none;
    }
    .title{
        font-size: 0.8em;
    }
    .excerpt{
        font-weight: 300;
    }

    .method-name {
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 0.8em;
        font-weight: 500;
    }
}


/* narrow screen */
@media only screen and (min-width: 401px) and (max-width: 1100px) {
    .hide-narrow {
        display: none;
    }
    .title{
        font-size: 1.8em;
    }
    .excerpt{
        font-weight: 300;
    }

    .method-name {
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 0.8em;
        font-weight: 500;
    }
}

/* medium screen */
@media only screen and (min-width: 1101px) and (max-width: 1400px) {
    .hide-wide {
        display: none;
    }
    .title{
        font-size: 2.7em;
    }
    .excerpt{
        font-weight: 300;
    }

    .method-name {
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 1em;
        font-weight: 500;
    }
}


/* wide screen */
@media only screen and (min-width: 1401px){
    .hide-wide {
        display: none;
    }

    .main-body{
        font-size: 1.2em;
    }

    .authorship-container {
        font-size: 1em;
        font-weight: 400;
    }

    .title{
        font-size: 2.7em;
    }

    .excerpt{
        font-size: 1.2em;
    }

    .method-name {
        padding-top: 3px;
        padding-bottom: 10px;
        font-size: 1em;
        font-weight: 500;
    }
}



.vl {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%) no-repeat center/1px 100%;
}


.hd-container hr{
    border: 0;
    height: 1px;
    background-image:  linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}


.authorship-container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.authorship-container a{
    text-decoration: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
}

.authorship-container li{
    white-space: nowrap;
}


ul.horizontal-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
}

ul.horizontal-list li{
    display: inline;
    padding: 0px 10px;
}


/* Markdown Related */
div#markdown-body h1 {
    font-weight:500;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 2em;
}

div#markdown-body h2, div.slideshow_wrapper h2  {
    font-weight:500;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5em;
}

div#markdown-body h3, div.slideshow_wrapper h3 {
    font-weight:500;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

div#markdown-body h4 {
    font-weight:500;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 1em;
}

div#markdown-body hr{
    border: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.12);
}

div#markdown-body .flex-container {
    display: flex;
    justify-content: space-between;
}

div#markdown-body .vflex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

div#markdown-body p {
    display: inline-block;
    text-align: justify;
    width: 100%;
}

div#markdown-body ol {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

div#markdown-body ul {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

div#markdown-body code {
    text-align: left;
    display: block;
    line-height: 1.5em;
    background: #f7f7f7;
    border-radius: 0.35em;
    border: solid 2px #efefef;
    padding: 0.25em 0.65em;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
}

div#markdown-body img, div.slideshow_wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
}

div#markdown-body p.video-title {
    text-align: center;
}

div#markdown-body figcaption, div.slideshow_wrapper figcaption {
    padding-top: 0;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 0.8em;
}

span.env-name {
    padding-bottom: 0;
    display: block;
}

.w3-row-padding > .w3-col {
    padding-bottom: 10px;
}

.w3-row-padding {
    padding-bottom: 10px;
}

.slideshow_wrapper {
    padding: 10px 0;
    display: block;
    width: 100%;
}

.slideshow img {
    width: 100%;
}

.slick-list {
    width: 100%;
}

.slick-dots li button:before {
    font-size: 20px;
}

.slick-active button {
    color: #4285f4;
}

div#markdown-body {
    margin-top: -22px;
}

